.custom-card{
    width: 100%;
    border: 2px solid #ccc;
    padding: 10px;
    // border: 2px solid #0082D0;

    img{
        min-height: 200px;
    }

    .custom-card-button{
        width: 100%;
        border: none;
        padding: 10px 0;
        background-color: #0082D0;
        color: #fff;
        font-size: 18px;
    }
}
