.dropdown{

    .dropdown-toggle{
        border-radius: 0 !important;
        background-color: transparent !important;
        border: none;
        color: #fff;
        border: 1px solid #fff;
        padding: 4px 14px;
        font-family: 'Roboto', sans-serif;
        &:hover{
            border: 1px solid #fff !important;
        }
    }

    .dropdown-menu{
        border-radius: 0 !important;
        margin-top: 10px !important;
    }
}