#admin-header{
    width: 100%;
    height: 100%;
    background-color: #0082D0;
    display: flex;
    align-items: center;
    margin-left: 1px;
}

#user-header{
    background-color: #0082D0;
    height: 54px;
    display: flex;
    align-items: center;

    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .login-button{
            background-color: transparent;
            border: none;
            color: #fff;
            border: 1px solid #fff;
            padding: 4px 14px;
            font-family: 'Roboto', sans-serif;
            // border-radius: 4px;
        }
    }

    .container .logo-group span{
        color: #fff;
        font-weight: bold;
        font-size: 20px;
        // font-family: 'Oswald', sans-serif;
        font-family: 'Roboto', sans-serif;
    }

    .container .after{
        width: 200px;
        cursor: pointer;
    }
}




