.home-text-wrapper{
    width: 100%;
    height: 70vh;
    background-image: linear-gradient( 90deg, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.2)),  url(../../../images/Home_bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;

    .container{
        height: 100%;
        display: flex;
        align-items: center;
    }

    .container .box{
        border: 2px solid rgba(255, 255, 255, .5);
        padding: 20px 30px;
        backdrop-filter: blur(15px);
    }

    .container .box p{
        color: #fff;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        text-align: justify;
    }

    .container .box .site{
        color: #FFC409;
    }
}

.carousel-item{
    background-color: transparent !important;
}

.carousel-control-next, 
.carousel-control-prev
{
    span{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 10px;
        background-color: #0082D0 !important;
    }
}