
.admin-test-item-container{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin: 10px 0;
    border-top: 4px solid #0C2D48;
    background-color: #DADADA;

    .answers{

        .answer{
            padding: 4px 10px;
            display: flex;
            align-items: center;
            gap: 10px;
            border-radius: 4px;
            margin: 2px 0;
            span{
                font-size: 18px;
                font-family: 'Roboto', sans-serif;
            }
        }

        .custom-active-answer{
            background-color: #0C2D48;
            span{
                color: #fff;
            }
        }
    }
}