.test-view-layout{
    width: 100%;
    height: 72vh;
    .container{
        height: 100%;
        overflow: hidden;
        overflow-y: scroll;
    }

    .container .row{
        height: 100%;
    }
    .count-view{
        width: 100%;
        min-height: 140px;
        padding: 10px;
        border-radius: 4px;
        border-top: 4px solid #0082D0;
        background-color: #ccc;
    }

    .count-item{
        width: 24px;
        height: 24px;
        border-radius: 50%;
        margin: 6px;
        border: 1px solid #0082D0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
    }

    .test-view-layout-childern{
        height: 100%;
        overflow: hidden;
        overflow-y: scroll;
    }

    .custom-active-count-item{
        background-color: #0082D0;
        color: white;
    }
}