.admin-sidebar-layout{
    width: 100%;
    height: 100%;
    background-color: #0C2D48;

    .admin-sidebar-header{
        width: 100%;
        height: 8vh;
        display: flex;
        justify-content: center;
        align-items: center;
        span{
            color: white;
        }
        border-bottom: 1px solid white;
    }

    .admin-sidebar-menu{
        width: 100%;
        height: 92vh;
        overflow: hidden;
        overflow-y: scroll;
    }
}